DW9YG6_1008/ember.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="ember">
		<xs:complexType>
			<xs:all>
				<xs:element name="nev1"></xs:element>
				<xs:element name="fizetes"></xs:element>
				<xs:element name="nev"></xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>

</xs:schema>