201001/VE_mozi.dtd

<!ELEMENT mozi (film*)>

<!ELEMENT film (rendezo, szinesz, iro)>

<!ELEMENT rendezo (#PCDATA)>
<!ATTLIST rendezo id CDATA #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED>

<!ELEMENT szinesz (#PCDATA)>
<!ATTLIST szinesz id CDATA #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>

<!ELEMENT iro (#PCDATA)>
<!ATTLIST ido id CDATA #REQUIRED>