DW9YG6_1022/cats.xsd

<?xml version="1.0" encoding="ISO-8859-2"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="name" type="xs:string" />
	<xs:element name="age" type="xs:string" />
	<xs:element name="breed" type="xs:string" />
	<xs:attribute name="id" type="xs:int" />

	<xs:element name="cats">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cat" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="name" />
							<xs:element ref="age" />
							<xs:element ref="breed" />
						</xs:sequence>
						<xs:attribute ref="id" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>